@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../font/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../font/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../font/Roboto-Bold.ttf") format("truetype");
}
html {
  font-family: "Roboto-Medium";
}
body {
  margin: 0;
  font-family: "Roboto-Medium";
}
img {
  max-width: 100%;
}
header {
  background-color: #3d4569;
}
header .header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header h1 {
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.content {
  background-color: #1e263d;
  padding: 40px 25px 40px 25px;
  min-height: calc(100vh - 80px);
}

@media (min-width: 768px) {
  .content .video-camera1 {
    padding-right: 12px;
    padding-left: 0;
  }
  .content .video-camera2 {
    padding-right: 0;
    padding-left: 12px;
  }
}
.content .view-cap {
  padding-top: 16px;
}
.content .title-camera {
  background-color: #303b5a;
  border-radius: 10px 10px 0 0;
  padding: 10px 18px;
}
.content .title-camera h2 {
  color: #ffffff;
  margin: 0;
  font-size: 14px;
  font-family: "Roboto-Medium";
  text-transform: capitalize;
}
.content.content button {
  background: #3b7ded;
  border-radius: 4px;
  border: 0;
  padding: 5px 15px;
  color: #ffffff;
  font-family: "Roboto-Medium";
  cursor: pointer;
}
.content.content button.btn-view {
  margin-right: 12px;
}
